* {
    margin: 0;
    padding: 0;
    font-family: ヒラギノ丸ゴ Pro,sans-serif;
    color: rgb(79, 82, 86);
}

ul li {
    list-style: none;
}

.top-image {
    background-image: url('background.jpg');
    height: 650px;
    width: 100%;
}
a {
    text-decoration: none;
    color: rgb(79, 82, 86);
}

header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(95, 158, 160, 0.603);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header-logo {
    font-size: 30px;
    padding-left: 90px;
}

.header-menu {
    float: right;
    width: 170px;
    padding-right: 30px;
    font-size: 17px;
}

.notice {
    background-color: rgba(22, 100, 218, 0.726);
    border: 1px solid transparent;
    width: 100%;
    margin-top: 70px;
    text-align: center;
    padding: 5px 10px;
    color: aliceblue;
    position: fixed;
}

.alert {
    background-color: rgba(220, 20, 60, 0.726);
    border: 1px solid transparent;
    width: 100%;
    margin-top: 70px;
    text-align: center;
    padding: 5px 10px;
    color: aliceblue;
    position: fixed;
}

.background-color {
    background-color: rgba(249, 245, 228, 0.196);
    height: 650px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

h2 {
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
}

.form {
    margin: auto;
    margin-top: 10px;
    width: 30%;
    height: 400px;
    background-color: rgba(255, 248, 242, 0.311);
    border: solid 2px rgb(255, 181, 218);
    border-radius: 20px;
    padding: 20px;
}

.field {
    font-size: 15px;
}

input {
    width: 100%;
    height: 28px;
    font-size: 14px;
  }

input[type="submit"] {
    border: none;
    border-radius: 4px;
    color: rgb(79, 82, 86);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid  rgb(253, 199, 226);
    margin-top: 10px;
    margin-left: 20px;
    float: right;
    background-color: rgb(253, 199, 226);
    width: 100%;
    height: 45px;
}

button {
    border: none;
    border-radius: 4px;
    color: rgb(79, 82, 86);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid  rgb(253, 199, 226);
    margin-top: 15px;
    margin-left: 20px;
    padding: 5px 30px;
    float: right;
    background-color: rgb(252, 252, 252);
    width: 100%;
}

.button {
    border: none;
    border-radius: 4px;
    color: rgb(79, 82, 86);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid  rgb(253, 199, 226);
    text-align: center;
    position: absolute;
    top: 535px;
    left: 510px;
    padding: 5px 30px;
    float: right;
    background-color: rgb(252, 252, 252);
    width: 25%;
    z-index: 10;
}



.subvar {
    background-color: #FFF2CC;
    width: 20%;
    height: 45px;
    font-size: 15px;
    text-align: center;
    margin-left: 40%;
}

.subvar p:hover{
    background-color: #eae3cf;
}

.top {
    display: flex;
    margin: 30px 450px;
}

.title {
    font-size: 25px;
}

.edit {
    margin-left: 230px;
    color: rgb(64, 167, 133);
    line-height: 50px;
}

table {
    margin: auto;
    font-size: 20px;
    border-collapse: separate;
    border-spacing: 20px 5px;
    width: 50%;
}

td {
    padding-top: 15px;
    border-bottom:2px solid rgb(113, 149, 137);
}

.menu > li {
    float: left;
    width: 100%;
    height: 50px;
    line-height: 40px;
    text-align: center;
}

.menu > li a:hover {
    color: #e9e2e2;
}

ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.menu__second-level li {
    border-bottom: 1px solid #675959;
}

.menu > li.menu__single {
    position: relative;
}

li.menu__single ul.menu__second-level {
    background-color: rgba(95, 158, 160, 0.897);
}

li.menu__single:hover ul.menu__second-level {
    top: 50px;
    visibility: visible;
    opacity: 1;
}

.room-image{
    margin-left: 30%;
}

.btn {
    float: right;
    margin-top: 15px;
    margin-right: 28%;
    font-size: 20px;
}

.search {
    display: flex;
    margin-top: 70px;
    margin-bottom: 30px;
    background-color: rgba(140, 171, 173, 0.603);
    padding-bottom: 10px;
}

.total {
    margin-top: 50px;
    margin-left: 250px;
}

.index-room {
    float: left;
    width: 25%;
    height: 450px;
    background: #fffde8;
    box-shadow: 0px 0px 0px 10px #fffde8;
    border: dashed 2px #ffb03f;
    border-radius: 9px;
    margin-left: 55px;
    margin-bottom: 50px;
    padding: 0.5em 0.5em 0.5em 2em;
}

.index-item {
    margin-left: 220px;
}

.index-guide {
    margin-top: 10px;
    margin-bottom: 20px;
}

.pick {
    position: absolute;
    top: 450px;
    left: 50px;
    opacity: 0.85;
}

.area {
    width: 20%;
    position: absolute;
    top: 490px;
    left: 1100px;
}